.container {
  padding: 0 2rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  margin-bottom: 20px;
}

.banner {
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.content {
  display: flex;
}

.extensionContainer,
.formContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.extensionContainer {
  border-left: 1px solid #aaa;
}

.downloadBtn {
  margin-top: 10px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.labelTitle {
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: rgb(112, 112, 112);
}

.labelInput {
  width: 300px;
  font-size: 1rem;
  margin-left: 3px;
  padding: 3px 5px;
}

.statusText {
  margin-left: 10px;
}

.statusTextSuccess {
  color: rgb(79, 109, 27);
}

.statusTextFailure {
  color: rgb(133, 2, 2);
}

.footer {
  margin-top: 100px;
  text-align: center;
  color: #555;
}

.reportLink {
  color: rgb(29, 138, 246);
}
